parameters:
- name: subscriptionId
  type: string
  default: ''
- name: location
  type: string
  values:
    - westeurope
    - northeurope
    - swedencentral
    - germanywestcentral
  default: westeurope
- name: resourceGroupName
  type: string
  displayName: 'Resource Group Name'
  default: 'rg-vmbackup-default'
- name: vaultName
  type: string
  displayName: 'Recovery Services Vault Name'
  default: 'rsv-backup-default'
- name: backupPolicyName
  type: string
  displayName: 'Backup Policy Name'
  default: 'DefaultPolicy'
- name: enableBackup
  type: string
  values:
    - 'true'
    - 'false'
  default: 'true'
  displayName: 'Enable VM Backup'
- name: backupFrequency
  type: string
  values:
    - 'Daily'
    - 'Weekly'
  default: 'Daily'
  displayName: 'Backup Frequency'

pool:
  vmImage: 'windows-latest'

stages:
- stage: Deploy
  jobs:
  - job: PrepareParameters
    displayName: 'Prepare Parameters'
    steps:
    - task: AzurePowerShell@5
      inputs:
        azureSubscription: 'Azure-ServiceConnection'
        ScriptType: 'FilePath'
        ScriptPath: '$(System.DefaultWorkingDirectory)/scripts/Set-DeploymentParameters.ps1'
        ScriptArguments: >
          -Location "${{ parameters.location }}"
          -SubscriptionId "${{ parameters.subscriptionId }}"
          -VaultName "${{ parameters.vaultName }}"
          -BackupPolicyName "${{ parameters.backupPolicyName }}"
          -BackupRetentionDays ${{ parameters.backupRetentionDays }}
        azurePowerShellVersion: 'LatestVersion'

  - job: CreateResourceGroup
    displayName: 'Create Resource Group'
    dependsOn: PrepareParameters
    steps:
    - task: AzurePowerShell@5
      inputs:
        azureSubscription: 'Azure-ServiceConnection'
        ScriptType: 'FilePath'
        ScriptPath: '$(System.DefaultWorkingDirectory)/scripts/Create-ResourceGroup.ps1'
        ScriptArguments: >
          -ResourceGroupName "${{ parameters.resourceGroupName }}"
          -Location "${{ parameters.location }}"
        azurePowerShellVersion: 'LatestVersion'

  - job: DeployBackupInfrastructure
    displayName: 'Deploy Backup Infrastructure'
    dependsOn: CreateResourceGroup
    condition: eq(${{ parameters.enableBackup }}, 'true')
    steps:
    - task: AzurePowerShell@5
      inputs:
        azureSubscription: 'Azure-ServiceConnection'
        ScriptType: 'FilePath'
        ScriptPath: '$(System.DefaultWorkingDirectory)/scripts/Deploy-Backup.ps1'
        ScriptArguments: >
          -ResourceGroupName "${{ parameters.resourceGroupName }}"
          -Location "${{ parameters.location }}"
          -VaultName "${{ parameters.vaultName }}"
          -BackupPolicyName "${{ parameters.backupPolicyName }}"
          -BackupFrequency "${{ parameters.backupFrequency }}"
        azurePowerShellVersion: 'LatestVersion'