parameters:
- name: subscriptionId
  type: string
  default: ''
- name: managementGroupId
  type: string
  default: ''
- name: vmTagName
  type: string
  default: 'backup'
- name: vmTagValue
  type: string
  default: 'true'
- name: location
  type: string
  values:
    - westeurope
    - northeurope
    - swedencentral
    - germanywestcentral
  default: westeurope
- name: resourceGroupName
  type: string
  displayName: 'Resource Group Name'
  default: 'rg-vmbackup-default'
- name: vaultName
  type: string
  displayName: 'Recovery Services Vault Name'
  default: 'rsv-backup-default'
- name: vaultSkuName
  type: string
  displayName: 'Recovery Services Vault SKU Name'
  default: 'RS0'
- name: vaultSkuTier
  type: string
  displayName: 'Recovery Services Vault SKU Tier'
  default: 'Standard'
  
- name: backupPolicyName
  type: string
  displayName: 'Backup Policy Name'
  default: 'DefaultPolicy'
- name: enableBackup
  type: string
  values:
    - 'true'
    - 'false'
  default: 'true'
  displayName: 'Enable VM Backup'
- name: backupFrequency
  type: string
  values:
    - 'Daily'
    - 'Weekly'
    - 'Both'
  default: 'Daily'
  displayName: 'Backup Frequency'
- name: dailyRetentionDays
  type: number
  default: '14'
  displayName: 'Daily Backup Retention Days'
- name: weeklyRetentionDays
  type: number
  default: '30'
  displayName: 'Weekly Backup Retention Days'
- name: enableAutoRemediation
  type: string
  values:
    - 'true'
    - 'false'
  default: 'false'
  displayName: 'Enable Auto-Remediation (DeployIfNotExists)'
- name: createVault
  type: string
  values:
    - 'true'
    - 'false'
  default: 'false'
  displayName: 'Create Recovery Services Vault if not exists'
- name: vaultResourceGroup
  type: string
  default: ''
  displayName: 'Vault Resource Group (if creating vault)'
pool:
  vmImage: 'windows-latest'

stages:
- stage: Deploy
  jobs:
  - job: PrepareParameters
    displayName: 'Prepare Parameters'
    steps:
    - task: AzurePowerShell@5
      inputs:
        azureSubscription: 'bicep_deploy_SC'
        ScriptType: 'FilePath'
        ScriptPath: '$(System.DefaultWorkingDirectory)/scripts/Set-DeploymentParameters.ps1'
        ScriptArguments: >
          -Location "${{ parameters.location }}"
          -SubscriptionId "${{ parameters.subscriptionId }}"
          -VaultName "${{ parameters.vaultName }}"
          -BackupPolicyName "${{ parameters.backupPolicyName }}"
          -DailyRetentionDays ${{ parameters.dailyRetentionDays }}
          -WeeklyRetentionDays ${{ parameters.weeklyRetentionDays }}
          -VaultSkuName "${{ parameters.vaultSkuName }}" \
          -VaultSkuTier "${{ parameters.vaultSkuTier }}"
        azurePowerShellVersion: 'LatestVersion'

  - job: CreateResourceGroup
    displayName: 'Create Resource Group'
    dependsOn: PrepareParameters
    steps:
    - task: AzurePowerShell@5
      inputs:
        azureSubscription: 'bicep_deploy_SC'
        ScriptType: 'FilePath'
        ScriptPath: '$(System.DefaultWorkingDirectory)/scripts/Create-ResourceGroup.ps1'
        ScriptArguments: >
          -ResourceGroupName "${{ parameters.resourceGroupName }}"
          -Location "${{ parameters.location }}"
        azurePowerShellVersion: 'LatestVersion'

  - job: DeployBackupInfrastructure
    displayName: 'Deploy Backup Infrastructure'
    dependsOn: CreateResourceGroup
    condition: eq(${{ parameters.enableBackup }}, 'true')
    steps:
    - task: AzurePowerShell@5
      inputs:
        azureSubscription: 'bicep_deploy_SC'
        ScriptType: 'FilePath'
        ScriptPath: '$(System.DefaultWorkingDirectory)/scripts/Deploy-Backup.ps1'
        ScriptArguments: >
          -ResourceGroupName "${{ parameters.resourceGroupName }}"
          -Location "${{ parameters.location }}"
          -VaultName "${{ parameters.vaultName }}"
          -BackupPolicyName "${{ parameters.backupPolicyName }}"
          -BackupFrequency "${{ parameters.backupFrequency }}"
          -VaultSkuName "${{ parameters.vaultSkuName }}" \
          -VaultSkuTier "${{ parameters.vaultSkuTier }}"
        azurePowerShellVersion: 'LatestVersion'

    

  

  - job: DeployAutoEnablePolicy
    displayName: 'Deploy Auto-Enable Policy (DeployIfNotExists)'
    dependsOn: DeployBackupInfrastructure
    condition: eq(${{ parameters.enableAutoRemediation }}, 'true')
    steps:
    - task: AzurePowerShell@5
      inputs:
        azureSubscription: 'bicep_deploy_SC'
        ScriptType: 'FilePath'
        ScriptPath: '$(System.DefaultWorkingDirectory)/scripts/Deploy-AutoEnablePolicySubscription.ps1'
        ScriptArguments: >
          -SubscriptionId "${{ parameters.subscriptionId }}" \
          -Location "${{ parameters.location }}" \
          -VmTagName "${{ parameters.vmTagName }}" \
          -VmTagValue "${{ parameters.vmTagValue }}" \
          -BackupPolicyName "${{ parameters.backupPolicyName }}" \
          -VaultName "${{ parameters.vaultName }}" \
          -VaultResourceGroup "${{ parameters.vaultResourceGroup }}" \
          -CreateVault "${{ parameters.createVault }}"
        azurePowerShellVersion: 'LatestVersion'